.DS_Store
**/application.properties
**/application-local.properties
**/application-deploy.properties

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Python compiled files
__pycache__/
*.py[cod]

# Docker Volumes
volume/

# ENV
.env
